body {
    color:rgb(81, 23, 110);
    background: rgb(23, 221, 236);
}header {
    border-bottom: solid 2px rgb(20, 62, 3);
}
section {
    background: rgb(186, 29, 186)]rgb(9, 4, 93);
    padding-bottom: 80px;
    padding-top; 80px;
    display; flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 20px;
}
body {
    color: rgb(196, 12, 126);
    background: rgb(24, 207, 203);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  h1 {
    font-size: 40px;
  } p {
    font-size: 20px;
  }